{% extends "ibim/layout.html" %}

{% block body %}

    <h4>Abril</h4><br>
        <div class="meses">
            <iframe src="https://www.youtube.com/embed/_3KHnNyF-4U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/86hic4jpAUs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
            
            <iframe src="https://www.youtube.com/embed/l_WxkjtYBe0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/0uBPLGenQHY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <br id="mar"><br><br><br>
    <h4>Marzo</h4><br>
        <div class="meses">
            <iframe src="https://www.youtube.com/embed/J_dlhtZIq_M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/sbFvihOVaEc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
            
            <iframe src="https://www.youtube.com/embed/9DaEmW682xE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/debwfz3Bprc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <br id="feb"><br><br><br>
    <h4>Febrero</h4><br>
        <div class="meses">
            <iframe src="https://www.youtube.com/embed/iPggHY_h128" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/91KoJ1U6zlA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
            
            <iframe src="https://www.youtube.com/embed/0IZlQAmWhbg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/BUFBU9YhETA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <br id="ene"><br><br><br>
    <h4>Enero</h4><br>
        <div class="meses">
            <iframe src="https://www.youtube.com/embed/gy_zsPVmSbA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/sbRZ69U8HI4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
            
            <iframe src="https://www.youtube.com/embed/oGtYy9NXIuc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/aXG0SNfMuyI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <div class="anterior-siguiente">
        <a href="3c2020">Anteriores</a>
        <a href="2c2021">Siguentes</a>
    </div>

{% endblock %}