{% extends "ibim/layout.html" %}

{% block body %}

    <h4>Abril 2020</h4><br>
        <div class="meses">
            <iframe  src="https://www.youtube.com/embed/BxtnnZYtIeY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/1U90bPNx_Ts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/h2nvb29hgg0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/Oh56-dsVDHY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <br id="mar"><br><br><br>
    <h4>Marzo 2020</h4><br>
        <div class="meses">
            <iframe src="https://www.youtube.com/embed/8mK_rr5_oxc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/BplvdaCgwIg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://drive.google.com/file/d/1fDMLU-27sidvYEDZWmNmhof_dNbS0Dx3/preview" class="videos"></iframe>

            <iframe src="https://drive.google.com/file/d/1hjGn7hJT_D_EnSwGy9R4KXQ7I8OebObE/preview" class="videos"></iframe>

            <iframe src="https://drive.google.com/file/d/1aAdvolCGwLy-hCKOKhOgT9yNK8sFWuIp/preview" class="videos"></iframe>
        </div>

    <br id="feb"><br><br><br>
    <h4>Febrero 2020</h4><br>
        <div class="meses">
            <iframe  src="https://drive.google.com/file/d/1kS9FrxAssYHhlWjP6-rvQ1aJMrksTxbS/preview" class="videos"></iframe>

            <iframe  src="https://drive.google.com/file/d/1lxITJNrQph8ogTy8-8JAjiPiGVjfou_x/preview" class="videos"></iframe>

            <iframe  src="https://drive.google.com/file/d/1PIcfBJ45l722URf97hM_GpjpqwRy62_C/preview" class="videos"></iframe>

            <iframe  src="https://drive.google.com/file/d/1GtrFOzzdPAZXqmDycERHWs_Su-WFYvxX/preview" class="videos"></iframe>
        </div>

    <br id="ene"><br><br><br>
    <h4>Enero 2020</h4><br>
        <div class="meses">
            <iframe src="https://drive.google.com/file/d/11gcI5fdAZjueHqKJswelO3jPsWDvA3J2/preview" class="videos"></iframe>

            <iframe src="https://drive.google.com/file/d/1g6Ga59kwq4eYWP14Xv7Yzorhet7OOwLy/preview" class="videos"></iframe>

            <iframe src="https://drive.google.com/file/d/19Ctda3zKacxVAn4QL8MeP-npeZwnSG4b/preview" class="videos"></iframe>
        </div>

    <div class="anterior-siguiente">
        <a href="">Anteriores</a>
        <a href="2c2020">Siguentes</a>
    </div>
{% endblock %}