{% extends "ibim/layout.html" %}

{% block body %}

    <h4>Agosto</h4><br>
        <div class="mes">
            <iframe  src="https://www.youtube.com/embed/8Hvrn83b6SQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/SO1DFOL3yVY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/WJPZKINEueM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/Z33XVmVqvcw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/pTm1L8t60jE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <br id="jul"><br><br><br>
    <h4>Julio</h4><br>
        <div class="mes">
            <iframe  src="https://www.youtube.com/embed/pUONIcUQPBo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/s5ULFpT49f8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/NqByyHb9Hrw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/qyo6ZxdyUtk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <br id="jun"><br><br><br>
    <h4>Junio</h4><br>
        <div class="mes">
            <iframe  src="https://www.youtube.com/embed/225aJr4ZWeQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/l23rZLmQGvU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/nQqQkSKu2hs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/7LlT-BbOF9k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <br id="may"><br><br><br>
    <h4>Mayo</h4><br>
        <div class="mes">
            <iframe  src="https://www.youtube.com/embed/nJDaIB2MCAU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/_fIz9ytdTr4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/MJXb0-ST6ys" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/LvMspI22eXQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/uLrlHeP6L9g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <div class="anterior-siguiente">
        <a href="1c2020">Anteriores</a>
        <a href="3c2020">Siguentes</a>
    </div>
{% endblock %}