{% extends "ibim/layout.html" %}

{% block body %}
    <h4>Agosto</h4><br>
        <div class="mes">
            <iframe src="https://www.youtube.com/embed/ZtgBz6k9cAo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/hcOs8g5c72M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/i-v1lzU8KIU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <br id="jul"><br><br><br>
    <h4>Julio</h4><br>
        <div class="mes">
            <iframe src="https://www.youtube.com/embed/SP5PrHUTlBo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/aSK3YfcVmPI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
            
            <iframe src="https://www.youtube.com/embed/Xe_jNiN51ug" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/l7JbhTbrs5w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <br id="jun"><br><br><br>
    <h4>Junio</h4><br>
        <div class="mes">
            <iframe src="https://www.youtube.com/embed/OMRZJlNVjpQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/eA02_BU7JME" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/d2Mzs24jwKw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
            
            <iframe src="https://www.youtube.com/embed/erVB_T7j5sc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/lfPZH5zedS8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <br id="mar"><br><br><br>
    <h4>Mayo</h4><br>
        <div class="mes">
            <iframe src="https://www.youtube.com/embed/uC06ohfnJbA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/NCy_lQfjZRw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/VJTFpV0z0aE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
            
            <iframe src="https://www.youtube.com/embed/T7ZVEbLThVw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/beXzTHQoZsA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <div class="anterior-siguiente">
        <a href="1c2021">Anteriores</a>
        <a href="3c2021">Siguentes</a>
    </div>

{% endblock %}