{% extends "ibim/layout.html" %}

{% block body %}

        <h4>Diciembre</h4><br>
            <div class="meses">
            </div>
            <br id="nov"><br><br><br>

        <h4>Noviembre</h4><br>
            <div class="meses">
            </div>
            <br id="oct"><br><br><br>

        <h4>Octubre</h4><br>
            <div class="meses">
            </div>
            <br id="sep"><br><br><br>

        <h4>Septiembre</h4><br>
            <div class="meses">
            </div>

    <div class="anterior-siguiente">
        <a href="2c2021">Anteriores</a>
        <a href="#">Siguentes</a>
    </div>

{% endblock %}