{% extends "ibim/layout.html" %}

{% block body %}

    <h4>Diciembre</h4><br>
        <div class="meses">
            <iframe src="https://www.youtube.com/embed/fwK_14AvBOs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/ei6tHg1wN1w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/BAHwNFMiRnE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/gVmJL5oeHoI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <br id="nov"><br><br><br>
    <h4>Noviembre</h4><br>
        <div class="meses">
            <iframe src="https://www.youtube.com/embed/jYNkEzjd8YQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/nrMY3L0APKk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/gvVpkXdzQc4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/7vmYsy_E_LQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe src="https://www.youtube.com/embed/2x8V57rvzLY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <br id="oct"><br><br><br>
    <h4>Octubre</h4><br>
        <div class="meses">
            <iframe  src="https://www.youtube.com/embed/qu6joa1uPlU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/GSy5ZEA_n1M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/ogOQ573IZsA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/aaQRiigTnYE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <br id="sep"><br><br><br>
    <h4>Septiembre</h4><br>
        <div class="meses">
            <iframe  src="https://www.youtube.com/embed/USnh6COKKlE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/x0kX7Y3kMoI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/0Ye2m3mh-CM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>

            <iframe  src="https://www.youtube.com/embed/rxUA0KrKnOU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videos"></iframe>
        </div>

    <div class="anterior-siguiente">
        <a href="2c2020">Anteriores</a>
        <a href="1c2021">Siguentes</a>
    </div>
{% endblock %}