{% load static %}
{% block body %}

    <head>
		<title>IBIMCE</title>
		<link rel="icon" href="{% static 'img/logo_ibimce.ico' %}">

		<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<link rel="stylesheet" href="{% static 'css/estilo.css' %}">

		<link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@100&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@100;300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,100;0,300;1,800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Piazzolla:ital,wght@0,100;0,300;1,800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Chewy&family=Roboto&display=swap" rel="stylesheet">

		<meta charset="utf-8">
		<meta name="keywords" content="iglesia, bautista, independiente, misionera">
		<meta name="description" content="Iglesia Bautista Independiente Misionera de Ciudad Evita">
		<meta name="robots" content="index">
		<meta name="author" content="IBIMCE">
		<meta name="viewport" content="-width, initial-scale=1.0">

		<script src="{% static 'js/jquery-latest.js' %}"></script>
		<script src="{% static 'js/nav.js' %}"></script>
		<script src="https://kit.fontawesome.com/2f1d0bc49f.js" crossorigin="anonymous"></script>
	</head>
    
{% endblock %}