{% load static %}

<!DOCTYPE html>
<html>
    {% include 'ibim/head.html' %}

    <body class="padre">
        <div class="atajos-anios" id="div-menu">
			<ul class="cada-anio">
				<li><p class="anio">2021</p>
					<ul>
						<li><a href="3c2021#dic" class="mes">Diciembre</a></li>
						<li><a href="3c2021#nov" class="mes">Noviembre</a></li>
						<li><a href="3c2021#oct" class="mes">Octubre</a></li>
						<li><a href="3c2021#sep" class="mes">Septiembre</a></li>
						<li><a href="2c2021#ago" class="mes">Agosto</a></li>
						<li><a href="2c2021#jul" class="mes">Julio</a></li>
						<li><a href="2c2021#jun" class="mes">Junio</a></li>
						<li><a href="2c2021#may" class="mes">Mayo</a></li>
						<li><a href="1c2021#abr" class="mes">Abril</a></li>
						<li><a href="1c2021#mar" class="mes">Marzo</a></li>
						<li><a href="1c2021#feb" class="mes">Febrero</a></li>
						<li><a href="1c2021#ene" class="mes">Enero</a></li>
					</ul> 
				</li>

				<li><p class="anio">2020</p>
					<ul>
						<li><a href="3c2020#dic" class="mes">Diciembre</a></li>
						<li><a href="3c2020#nov" class="mes">Noviembre</a></li>
						<li><a href="3c2020#oct" class="mes">Octubre</a></li>
						<li><a href="3c2020#sep" class="mes">Septiembre</a></li>
						<li><a href="2c2020#ago" class="mes">Agosto</a></li>
						<li><a href="2c2020#jul" class="mes">Julio</a></li>
						<li><a href="2c2020#jun" class="mes">Junio</a></li>
						<li><a href="2c2020#may" class="mes">Mayo</a></li>
						<li><a href="1c2020#abr" class="mes">Abril</a></li>
						<li><a href="1c2020#mar" class="mes">Marzo</a></li>
						<li><a href="1c2020#feb" class="mes">Febrero</a></li>
						<li><a href="1c2020#ene" class="mes">Enero</a></li>
					</ul> 
				</li>

				<li><p class="anio">2019</p>
					<ul>
						<li><a href="" class="mes">Diciembre</a></li>
						<li><a href="" class="mes">Noviembre</a></li>
						<li><a href="" class="mes">Octubre</a></li>
						<li><a href="" class="mes">Septiembre</a></li>
						<li><a href="" class="mes">Agosto</a></li>
						<li><a href="" class="mes">Julio</a></li>
						<li><a href="" class="mes">Junio</a></li>
						<li><a href="" class="mes">Mayo</a></li>
						<li><a href="" class="mes">Abril</a></li>
						<li><a href="" class="mes">Marzo</a></li>
						<li><a href="" class="mes">Febrero</a></li>
						<li><a href="" class="mes">Enero</a></li>
					</ul> 
				</li>

				<li><p class="anio">2018</p>
					<ul>
						<li><a href="" class="mes">Diciembre</a></li>
						<li><a href="" class="mes">Noviembre</a></li>
						<li><a href="" class="mes">Octubre</a></li>
						<li><a href="" class="mes">Septiembre</a></li>
						<li><a href="" class="mes">Agosto</a></li>
						<li><a href="" class="mes">Julio</a></li>
						<li><a href="" class="mes">Junio</a></li>
						<li><a href="" class="mes">Mayo</a></li>
						<li><a href="" class="mes">Abril</a></li>
						<li><a href="" class="mes">Marzo</a></li>
						<li><a href="" class="mes">Febrero</a></li>
						<li><a href="" class="mes">Enero</a></li>
					</ul> 
				</li>
			</ul>
		</div>

		<header class="div-menues">
			<div class="div-menu-ppal">

				<div class="menues">
					<div class ="menu">
						<div class="a"><a href="../#quienes"><i class="fas fa-address-card"></i> Nosotros</a></div>
						<div class="a"><a href="../#lugar"><i class="fas fa-location-arrow"></i> Ubicación</a></div>
						<div class="a"><a href="../#reuniones"><i class="fas fa-calendar-alt"></i> Reuniones</a></div>
						<!--<a href="#contacto"><i class="fas fa-phone-square-alt"></i> Contacto </a>-->
					</div>
				</div>

				<div class="logo-ppal">
					<a href="{% url 'index' %}"><img src="{% static 'img/nombre.png' %}" alt="Logo" class="logo"></a>
				</div>
	
				<div class="menues">
					<div class="menu">
						<div class="a"><a href="{% url 'predicaciones' %}"><i class="fas fa-bible"></i> Predicaciones</a></div>
						<div class="a"><a href="#" target="_BLANK"><i class="fas fa-campground"></i> Campamentos</a></div>	
						<div class="a"><a href="{% url 'cielo' %}" class="cielo"><i class="fas fa-solid fa-question"></i> ¿Cómo ir al cielo?</a></div>
					</div>
				</div>
			</div>

			<div class="div-menu-peg">
				<nav class="menu-peg"><ul>
					<li><a href="../#quienes"><i class="fas fa-address-card barras"></i> Sobre Nosotros</a></li>
					<li><a href="../#reuniones"><i class="fas fa-calendar-alt"></i> Nuestras Reuniones</a></li>
					<li><a href="../#lugar"><i class="fas fa-location-arrow"></i> Dónde nos encontramos</a></li>
					<!--<li><a href="#contacto"><i class="fas fa-phone-square-alt"></i> Contacto </a></li>-->
					<li><a href="{% url 'predicaciones' %}"><i class="fas fa-bible"></i> Predicaciones</a></li>
					<li><a href="#" target="_BLANK"><i class="fas fa-campground"></i> Campamentos IBIMCE</a></li>
					<li><a href="{% url 'cielo' %}"><i class="fas fa-solid fa-question"></i> ¿Cómo ir al cielo?</a></li>
				</ul></nav>
			</div>

			<div class="div-menu-res">
				<nav class="menu-res">
					<div class="boton-contenedor">
						<div class="boton fas fa-bars">
						</div>
					</div>
					
					<div class="div-menu-res-ul">
						<ul class="menu-res-ul">
							<li><a href="ibim#quienes"><i class="fas fa-address-card"></i> Sobre Nosotros</a></li>
							<br>
							<li><a href="ibim#reuniones"><i class="fas fa-calendar-alt"></i> Nuestras Reuniones</a></li>
							<br>
							<li><a href="ibim#lugar"><i class="fas fa-location-arrow"></i> Dónde nos Encontramos</a></li>
							<br>
							<li><a href="predicaciones"><i class="fas fa-bible"></i> Predicaciones</a></li>
							<br>
							<li><a href="../campa/campa contruccion.html" target="_BLANK"><i class="fas fa-campground"></i> Campamentos</a></li>
							<br>
							<li><a href="#"><i class="fas fa-solid fa-question"></i> ¿Cómo ir al cielo?</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>

        <article class="cuerpo">
            {% block body %}

            {% endblock %}
        </article>

        {% include 'ibim/footer.html' %}
    </body>
</html>