{% extends "ibim/layout.html" %}

{% block body %}
		<br><br><br>
		<div class="vivo">
			<p class="en-vivo"> Nuestra predicación en vivo </p>
			<iframe width="936" height="526.5" src="https://www.youtube.com/embed/hcOs8g5c72M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<!--<br><br><br>

		<div class="vivo">
			<p> Más predicaciones </p>
		</div>

		<div class="orden">
		Ordenar por: Fecha   ;  <a href="preditema.html">Tema</a> <br> <br>
		</div>

		<div>
		</div>-->
{% endblock %}
